html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F8FAFC;
    font-family: 'Inter', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.card {
    border: none;
    border-radius: 16px;
    transition: all 0.2s ease;
}

    .card:hover {
        transform: translateY(-5px);
    }

.btn {
    border-radius: 10px;
}


.input-group-text {
    background: white;
}

.form-control {
    border-left: none;
}

    .form-control:focus {
        box-shadow: none;
    }

main {
    min-height: calc(100vh - 180px);
}

.table-card {
    border-radius: 20px;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
    font-weight: 600;
}

.table tbody tr {
    transition: all .2s ease;
}

    .table tbody tr:hover {
        background-color: #f8fafc;
    }

.btn-sm {
    border-radius: 999px;
}

.table td,
.table th {
    padding: 1rem;
}

.table-card {
    border-radius: 20px;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
    font-weight: 600;
}

.table tbody tr {
    transition: all .2s ease;
}

    .table tbody tr:hover {
        background-color: #f8fafc;
    }

.badge {
    border-radius: 999px;
}

.table td,
.table th {
    padding: 1rem;
}